.main-head {
  grid-area: header;
}
.content {
  grid-area: content;
}
.main-nav {
  grid-area: nav;
}
.filter {
  grid-area: filter;
}
.main-footer {
  grid-area: footer;
}

.app-wrapper {
  display: grid;
  gap: 20px;
  row-gap: 0;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "filter"
    "content";
}

@media (min-width: 480px) {
  .wrapper {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      "header header header"
      "content content content";
  }
}
