@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color-scheme: light dark;

  /* system theme */
  --system-breakpoint-mobile: 480px;
  --system-breakpoint-tablet: 768px;
  --system-breakpoint-laptop: 1280px;
  --system-breakpoint-desktop: 1430px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --system-fontSize-xs: 0.7rem;
  --system-fontSize-s: 0.8rem;
  --system-fontSize-m: 0.9rem;
  --system-fontSize-l: 1rem;
  --system-fontSize-xl: 1.1rem;
  --system-fontSize-kilo: 1.5rem;
  --system-fontSize-mega: 1.7rem;
  --system-fontSize-giga: 2rem;

  --system-fontWeight-bold: 700;
  --system-fontWeight-heavy: 400;
  --system-fontWeight-medium: 300;
  --system-fontWeight-light: 200;

  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

  --system-borderRadius-s: 3px;
  --system-borderRadius-m: 5px;
  --system-margin-s: 5px;
  --system-margin-m: 10px;
  --system-margin-l: 15px;
  --system-padding-s: 5px;
  --system-padding-m: 10px;
  --system-padding-l: 15px;

  /* base colors all themes */
  --system-color-all-white: rgb(255, 255, 255);
  --system-color-all-darkGrey: rgb(24, 26, 28);

  /* base colors light */
  --system-color-light-white: rgb(255, 255, 255);
  --system-color-light-darkGrey: rgb(24, 26, 28);
  --system-color-light-mediumGrey: rgb(53, 58, 62);
  --system-color-light-lightGrey: rgb(84, 90, 97);
  --system-color-light-darkGreen: rgb(1, 72, 71);
  --system-color-light-burntOrange: rgb(211, 84, 0);

  /* base colors dark */
  --system-color-dark-black: rgb(6, 11, 16);
  --system-color-dark-darkGrey: rgb(30, 36, 44);
  --system-color-dark-lightGrey: rgb(126, 135, 146);
  --system-color-dark-white: rgb(255, 255, 255);
  --system-color-dark-offWhite: rgb(230, 236, 242);
  --system-color-dark-neonGreen: rgb(5, 189, 186);

  /* light theme */
  --system-color-backgroundPrimary: var(--system-color-dark-black);
  --system-color-backgroundSecondary: var(--system-color-light-white);
  --system-color-headingPrimary: var(--system-color-light-darkGrey);
  --system-color-textPrimary: var(--system-color-light-mediumGrey);
  --system-color-textSecondary: var(--system-color-light-lightGrey);
  --system-color-linkPrimary: var(--system-color-light-lightGrey);
  --system-color-linkSecondary: var(--system-color-light-darkGreen);
  --system-color-actionPrimary-background: var(
    --system-color-light-burntOrange
  );
  --system-color-actionPrimary-text: var(--system-color-light-white);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* dark theme */
    --system-color-backgroundPrimary: var(--system-color-dark-black);
    --system-color-backgroundSecondary: var(--system-color-dark-darkGrey);
    --system-color-headingPrimary: var(--system-color-dark-white);
    --system-color-textPrimary: var(--system-color-dark-offWhite);
    --system-color-textSecondary: var(--system-color-dark-lightGrey);
    --system-color-linkPrimary: var(--system-color-light-lightGrey);
    --system-color-linkSecondary: var(--system-color-dark-neonGreen);
    --system-color-actionPrimary-background: var(--system-color-dark-neonGreen);
    --system-color-actionPrimary-text: var(--system-color-dark-darkGrey);
  }
}

body {
  margin: 0 auto;
  max-width: var(--system-breakpoint-desktop);
  background-color: var(--system-color-backgroundPrimary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--system-color-headingPrimary);
}

a {
  color: var(--system-fontSize-m);
  text-decoration: none;

  &.secondary {
    color: var(--system-color-linkSecondary);
  }
}

p {
  line-height: 1.4;
  color: var(--system-color-textPrimary);
  font-size: var(--system-fontSize-m);
}

input {
  width: 100%;
  padding: var(--system-padding-m);
  border-radius: var(--system-borderRadius-m);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border: 1.5px solid lightgray;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
  font-size: var(--system-fontSize-m);
  background-color: var(--system-color-backgroundSecondary);
}

button {
  padding: var(--system-padding-s);
  font-size: var(--system-fontSize-m);
  color: var(--system-color-actionPrimary-text);
  background: var(--system-color-actionPrimary-background);
  border-radius: var(--system-borderRadius-s);
  cursor: pointer;
  text-align: center;
  border: none;
}

/* prevent IOS from zooming on keyboard */
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}
