@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
}

:root {
  color-scheme: light dark;
  /* base colors */
  --base-color-light: rgb(255, 255, 255);

  /* light colors */
  --color-light-primary: var(--base-color-light);
  /* dark colors */
  --color-dark-primary: #212427;

  --base-border-radius: 3px;
  --form-border-raduis: var(--base-border-radius);

  --font-size-s: 0.8rem;
  --font-size-m: 0.9rem;
  --font-size-l: 1rem;
  --font-size-xl: 1.1rem;
  --font-bold: 400;

  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --breakpoint-mobile: 480px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 1280px;
  --breakpoint-desktop: 1430px;

  --color-background: var(--color-light-primary);
  --color-heading: var(--color-light-primary);
  --font-color: var(--color-dark-primary);
  --font-color-muted: color-mix(
    in lab,
    var(--color-dark-primary) 100%,
    white 45%
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-dark-primary);
    --color-heading: var(--color-light-primary);
    --font-color: var(--base-color-light);
    --font-color-muted: color-mix(
      in lab,
      var(--color-light-primary) 100%,
      black 45%
    );
  }
  body {
    background-color: var(--color-background);
    color: var(--font-color);
  }
}

body {
  margin: 0 auto;
  max-width: var(--breakpoint-desktop);
  background-color: var(--color-dark-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--base-color-light);
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border: 1.5px solid lightgray;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
  font-size: var(--font-size-l);
}
input:hover {
  box-shadow: 0px 0px 20px -17px;
}
input:active {
}
input:focus {
}
