@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color-scheme: light dark;

  /* system theme */
  --breakpointMobile: 480px;
  --breakpointTablet: 768px;
  --breakpointLaptop: 1280px;
  --breakpointDesktop: 1430px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --fontSizeXs: 0.7rem;
  --fontSizeS: 0.8rem;
  --fontSizeM: 0.9rem;
  --fontSizeL: 1rem;
  --fontSizeXl: 1.1rem;
  --fontSizeKilo: 1.5rem;
  --fontSizeMega: 1.7rem;
  --fontSizeGiga: 2rem;

  --fontWeightBold: 700;
  --fontWeightBoldMedium: 400;
  --fontWeightBoldLight: 300;

  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

  --borderRadiusS: 3px;
  --borderRadiusM: 5px;
  --marginS: 5px;
  --marginM: 10px;
  --marginL: 15px;
  --paddingS: 5px;
  --paddingM: 10px;
  --paddingL: 15px;

  /* base colors all themes */
  --colorAllWhite: rgb(255, 255, 255);
  --colorAllDarkGrey: rgb(24, 26, 28);

  /* base colors light */
  --colorLightWhite: rgb(255, 255, 255);
  --colorLightDarkGrey: rgb(24, 26, 28);
  --colorLightMediumGrey: rgb(53, 58, 62);
  --colorLightLightGrey: rgb(84, 90, 97);
  --colorLightDarkGreen: rgb(1, 72, 71);
  --colorLightBurntOrange: rgb(255, 106, 51); /* rgb(211, 84, 0); */

  /* base colors dark */
  --colorDarkBlack: rgb(23, 24, 35);
  --colorDarkDarkGrey: rgb(45, 47, 62);
  --colorDarkMediumGrey: rgb(36, 37, 51);
  --colorDarkWhite: rgb(255, 255, 255);
  --colorDarkOffWhite: rgb(230, 236, 242);
  --colorDarkNeonGreen: rgb(5, 189, 186);
  --colorDarkBlue: rgb(105, 154, 252);
  --colorDarkMutedWhite: rgba(255, 255, 255, 0.8);

  /* light theme */
  --colorBackgroundPrimary: var(--colorDarkBlack);
  --colorBackgroundSecondary: var(--colorLightWhite);
  --colorHeadingPrimary: var(--colorLightDarkGrey);
  --colorTextPrimary: var(--colorLightMediumGrey);
  --colorTextSecondary: var(--colorLightLightGrey);
  --colorLinkPrimary: var(--colorLightLightGrey);
  --colorLinkSecondary: var(--colorLightDarkGreen);
  --colorActionPrimaryBackground: var(--colorLightBurntOrange);
  --colorActionPrimaryText: var(--colorLightWhite);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* dark theme */
    --colorBackgroundPrimary: var(--colorDarkBlack);
    --colorBackgroundSecondary: var(--colorDarkDarkGrey);
    --colorHeadingPrimary: var(--colorDarkWhite);
    --colorTextPrimary: var(--colorDarkOffWhite);
    --colorTextSecondary: var(--colorDarkMediumGrey);
    --colorLinkPrimary: var(--colorDarkBlue);
    --colorLinkSecondary: var(--colorDarkMutedWhite);
    --colorActionPrimaryBackground: var(--colorDarkBlue);
    --colorActionPrimaryText: var(--colorAllWhite);
  }
}

body {
  margin: 0 auto;
  max-width: var(--breakpointDesktop);
  background-color: var(--colorBackgroundPrimary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--colorHeadingPrimary);
}

a {
  color: var(--fontSizeM);
  text-decoration: none;

  &.secondary {
    color: var(--colorLinkSecondary);
  }
}

p {
  line-height: 1.4;
  color: var(--colorTextPrimary);
  font-size: var(--fontSizeM);
}

input {
  width: 100%;
  padding: var(--paddingM);
  border-radius: var(--borderRadiusM);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border: 1.5px solid lightgray;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
  font-size: var(--fontSizeM);
  background-color: var(--colorBackgroundSecondary);
}

button {
  padding: var(--paddingS);
  font-size: var(--fontSizeM);
  color: var(--colorActionPrimaryText);
  background: var(--colorActionPrimaryBackground);
  border-radius: var(--borderRadiusS);
  cursor: pointer;
  text-align: center;
  border: none;
}

/* prevent IOS from zooming on keyboard */
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}
