.product {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  margin: 3px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border: 1px solid lightgrey;
  border-radius: 3px;

  @media (min-width: 768px) {
    flex: 0 0 24%;
  }

  .product-image img {
    max-width: 100%;
  }

  .product-details {
    padding: 5px;
  }

  .product-logo {
    margin: 0;
    font-size: 14px;

    img {
      height: 20px;
      margin-right: 10px;
    }
  }

  .product-title {
    color: rgb(42, 42, 42);
    font-size: 14px;
    margin-bottom: var(--margin-bottom);
  }

  .product-action {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }
}
