.product {
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--colorBackgroundSecondary);
  border-bottom-right-radius: var(--borderRadiusS);
  border-bottom-left-radius: var(--borderRadiusS);
  border-bottom: 1px solid lightgrey;

  @media (min-width: 768px) {
    flex: 0 0 24%;
  }

  .product-card-background {
    height: 15px;
    width: 100%;
    background-color: var(--colorActionPrimaryBackground);
  }

  .product-image {
    position: relative;
    border-bottom: 1px solid rgb(239, 237, 237);
    background-color: var(--colorAllWhite);

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .product-data {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      text-align: right;
      color: var(--colorAllDarkGrey);
      font-size: var(--fontSizeXs);

      .product-pricing {
        height: 25px;
        width: 100px;
        padding: 3px;
        margin-right: var(--marginS);

        .product-from {
          position: relative;
          top: 4px;
          width: 100%;
          text-align: right;
          font-size: var(--fontSizeXs);
        }

        .product-price {
          width: 100%;
          text-align: right;
          font-size: var(--fontSizeKilo);
          font-weight: bold;
        }

        .pricing-actions {
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          span {
            cursor: pointer;
            text-align: center;
            width: 41px;
            font-size: var(--fontSizeM);

            svg {
              font-size: 2rem;

              @media (min-width: 768px) {
                font-size: var(--fontSizeMega);
              }
            }
          }

          .pricing-actions-count {
            position: relative;
            top: -6px;
            font-size: var(--fontSizeXs);
          }
        }
      }
    }
  }

  .product-details {
    padding: var(--marginS);

    .product-details-row {
      margin-top: var(--marginS);
      padding: 0 var(--marginS);
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .product-brand {
      display: block;
      font-size: var(--fontSizeS);
    }
    .product-name {
      font-size: var(--fontSizeL);
      font-weight: var(--fontWeightHeavy);
    }
    .product-swatches img {
      cursor: pointer;
      height: 40px;
      margin-right: 8px;
    }
  }
}
