.product {
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  border: 1px solid lightgrey;
  border-radius: 3px;

  @media (min-width: 768px) {
    flex: 0 0 24%;
  }

  .product-image {
    position: relative;
    border-bottom: 1px solid rgb(239, 237, 237);

    @media (min-width: 500px) {
      height: 350px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .product-container {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      text-align: right;

      .product-pricing {
        height: 25px;
        width: 100px;
        padding: 3px;
        margin-right: 5px;

        .product-from {
          position: relative;
          top: 5px;
          width: 100%;
          text-align: right;
          font-size: var(--font-size-s);
        }

        .product-price {
          width: 100%;
          text-align: right;
          font-size: 1.5rem;
          font-weight: bold;
        }

        .pricing-actions {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          margin-top: 5px;

          span {
            font-size: var(--font-size-m);
          }

          svg {
            fill: #990000;
            font-size: 2.5rem;
          }
        }
      }

      .product-swatches {
        width: 40px;
        margin: 5px;
      }
    }
  }

  .product-details {
    padding: 5px;
    span.product-brand {
      display: block;
      font-size: var(--font-size-s);
    }
    span.product-name {
      font-size: var(--font-size-l);
      font-weight: 400;
    }
  }

  .comments {
    --light-grey: #858c95;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: inherit;
    width: 100%;
    height: 100%;
    border-top: 1px solid lightgrey;
    font-size: var(--font-size-m);

    .comment-thread {
      padding: 0 10px;

      .comment {
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;
        padding-top: 10px;

        .comment-profile-image {
          img {
            height: 50px;
            margin-right: 10px;
          }
        }

        .comment-data {
          .comment-header {
            display: flex;
            justify-content: space-between;

            .comment-author {
              margin-right: 10px;
              font-weight: bold;
            }

            .comment-timestamp {
              font-size: var(--font-size-s);
              color: var(--light-grey);
            }
          }

          .comment-body p {
            margin: 5px 0;
            line-height: 1.6;
            font-size: var(--font-size-l);
          }

          .comment-footer {
            display: flex;
            align-items: center;

            .comment-reactions {
              display: flex;
              align-items: flex-end;
              font-size: var(--font-size-l);
              color: var(--light-grey);

              > span {
                margin-right: 15px;
              }

              svg {
                position: relative;
                top: 2px;
              }

              .comment-reaction {
                font-size: 1.2rem;

                @media (min-width: 768px) {
                  font-size: var(--font-size-);
                }

                .comment-reaction-count {
                  margin-left: 2px;
                }

                &.icon-share {
                  position: relative;
                  top: 2px;

                  svg {
                    fill: lightblue;
                  }
                }

                &.icon-heart svg {
                  fill: #990000;
                }
              }
            }
          }
        }
      }

      .comment-count {
        font-size: var(--font-size-m);
        color: var(--font-color);
        margin: 10px 0 10px 10px;
      }
    }

    .comment-bar {
      position: relative;
      padding: 0 5px;

      .comment-actions {
        position: absolute;
        right: 4%;
        top: 11px;

        svg {
          fill: lightblue;
          font-size: 1.6rem;
          margin-left: 15px;
          cursor: pointer;

          @media (min-width: 768px) {
            right: 5%;
          }
        }
      }
    }

    .input {
      width: 100%;
      padding: 12px;
      border-radius: 12px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border: 1.5px solid lightgray;
      outline: none;
      transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
      box-shadow: 0px 0px 20px -18px;
      font-size: var(--font-size-l);
    }

    .input:hover {
      box-shadow: 0px 0px 20px -17px;
    }

    .input:active {
    }

    .input:focus {
    }
  }
}
