.product-slider {
  .products {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;

    @media (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .breadcrumbs {
    display: flex;
    align-items: center;
    font-size: var(--font-size-md);
    margin: 5px 0;

    h2 {
      font-size: inherit;
      font-weight: 300;
      margin: 0 5px;
    }
    span {
      margin: 0 5px;
    }
  }
}
