.product-slider {
  .products {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;

    @media (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
