.product {
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--colorBackgroundSecondary);
  border-bottom-right-radius: var(--borderRadiusS);
  border-bottom-left-radius: var(--borderRadiusS);
  border-bottom: 1px solid var(--borderColor);

  @media (min-width: 768px) {
    flex: 0 0 24%;
  }

  .product-card-background {
    height: 5px;
    width: 100%;
    background-color: var(--colorActionPrimaryBackground);
  }

  .product-image {
    position: relative;
    border-bottom: 1px solid var(--borderColor);
    background-color: var(--colorAllWhite);

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .product-details {
    padding: var(--marginS);

    .product-details-row {
      border-top: 1px solid var(--borderColor);
      border-bottom: 1px solid var(--borderColor);
      margin-top: var(--marginS);
      padding: 0 var(--marginS);
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .product-brand {
      display: block;
      font-size: var(--fontSizeS);
    }
    .product-name {
      font-size: var(--fontSizeM);
      font-weight: var(--fontWeightHeavy);
    }

    .product-pricing {
      .product-from {
        position: relative;
        top: 4px;
        right: 2px;
        text-align: right;
        font-size: var(--fontSizeXs);
      }

      .product-price {
        width: 100%;
        text-align: right;
        font-size: var(--fontSizeKilo);
        font-weight: bold;
      }
    }

    .product-swatches {
      --color1: #ede8e0;
      --color2: #534d3e;
      --color3: #0a0e0e;
      --color4: #4c60ab;
      --swatchSize: 30px;

      display: flex;

      .swatch {
        cursor: pointer;
        margin-right: var(--marginM);
        border-radius: var(--borderRadiusS);
      }

      .swatch-1 {
        height: var(--swatchSize);
        width: var(--swatchSize);
        background-color: var(--color1);
      }
      .swatch-2 {
        height: var(--swatchSize);
        width: var(--swatchSize);
        background-color: var(--color2);
      }
      .swatch-3 {
        height: var(--swatchSize);
        width: var(--swatchSize);
        background-color: var(--color3);
      }
      .swatch-4 {
        height: var(--swatchSize);
        width: var(--swatchSize);
        background-color: var(--color4);
      }

      .swatch-more {
        position: relative;
        height: var(--swatchSize);
        width: var(--swatchSize);
        color: var(--colorAllDarkGrey);
        font-weight: var(--fontWeightBold);
        font-size: var(--fontSizeXl);
        background-color: var(--colorAllWhite);

        &::after {
          position: absolute;
          top: 4px;
          left: 4px;
          content: "+3";
        }
      }
    }
  }

  .pricing-reactions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0 var(--marginL);

    .pricing-reaction {
      display: flex;
      align-items: center;
      span {
        svg {
          position: relative;
          top: 4px;
          font-size: var(--fontSizeXl);
        }
      }
      .pricing-reaction-count {
        font-size: var(--fontSizeS);
        margin-left: var(--marginS);
      }
    }
  }
}
