.header-grid-logo {
  grid-area: logo;
}
.header-grid-search {
  grid-area: search;
}
.header-grid-user {
  grid-area: user;
}

header {
  h1 {
    margin: 0;
  }

  .wrapper {
    display: grid;
    gap: 0px;
    align-items: top;
    grid-template-areas:
      "logo user"
      "search search";

    width: 100vw;
    background-color: #0d1a34;

    & > div:nth-child(3) {
      text-align: right;
      margin-right: 10px;
    }
  }
}

@media (min-width: 500px) {
  header .wrapper {
    gap: 20px;
    /* grid-template-columns: 170px 1fr 60px; */
    grid-template-areas: "logo search user";

    height: 50px;

    & > div:nth-child(3) {
      text-align: center;
    }
  }
}
