.header-grid-logo {
  grid-area: logo;
  justify-self: flex-start;
}
.header-grid-search {
  grid-area: search;
}
.header-grid-user {
  grid-area: user;
}

header {
  display: grid;
  gap: 0px;
  grid-template-areas:
    "logo user"
    "search search";
  align-items: center;

  background-color: var(--colorBackgroundPrimary);
  color: var(--colorAllWhite);

  h1 {
    color: var(--colorAllWhite);
    margin: 0;
  }
}

@media (min-width: 768px) {
  header {
    gap: 20px;
    grid-template-columns: 170px 1fr 60px;
    grid-template-areas: "logo search user";
  }
}
