.header-grid-logo {
  grid-area: logo;
}
.header-grid-search {
  grid-area: search;
}
.header-grid-user {
  grid-area: user;
}

header {
  display: grid;
  gap: 0px;
  grid-template-areas:
    "logo user"
    "search search";
  align-items: center;

  background-color: #22282a;
  color: white;

  h1 {
    margin: 0;
  }

  div.user-menu {
    justify-self: right;
    margin-right: 25px;
  }
}

@media (min-width: 768px) {
  header {
    gap: 20px;
    grid-template-columns: 170px 1fr 60px;
    grid-template-areas: "logo search user";

    div.user-menu {
      justify-self: center;
    }
  }
}
